/* #navbar{
    position: relative;
    display: flex; 
    align-items: center;
   
} */

#navbar{
    display: flex;
    /* position: relative;  */
    /* align-items: center; */
    
}
#navbar h1{
    /* display:inline-block; */
    /* padding: auto; */
    margin: 17px 72px;
    cursor: pointer;
}

#navbar ul{
    /* display:inline-block; */
    /* align-items:flex-start; */
    display: flex;
    /* padding: 0px 340px;
    margin: 5px 34px; */
    /* padding: 0px 161px;
    margin: 7px; */
    /* position: fixed; */
    left: 351px;
    bottom: 486px;
    z-index: 4;
    
}

#navbar ul li{
    /* color:white; */
    list-style: none;
    font-size: 20px; 
    font-family: 'Otomanopee One', sans-serif;
    
}

#navbar ul li a{
    color: rgb(20, 20, 19);
    border-radius: 26px;
    display: block;
    padding: 15px 19px;
    text-decoration: none;
}
.container{
    display: inline-block;
    /* border: 2px solid brown; */
     border: none;
    padding: 31px 27px;
    margin: 73px 178px;
    border-radius: 23px;
    background-color: #fffdfdb8;
    height: 373px;
    width: 614px;
    opacity:0.8; 
   z-index: 1;
    /* overflow: visible; */
    position: relative; 
    /* justify-content: center;  */
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px 10px;

   
}

#background{
    z-index: -1;
    position: absolute;
    height: 236%;
    width: 100%;
    /* opacity: 0.8; */
    z-index: -1;
    background: url(../bg/s4.jpg) no-repeat center center/cover;
    
}

#top1 .btn{
    border: none;
    cursor: pointer;
    /* text-align: center; */
    margin: -27px 34px;
    /* padding: 14px 28px; */
    padding: 1rem 2.6rem;
    border-radius: 41px;
    background-color: #a148ff !important;
    background: linear-gradient(
        90deg, #a148ff 0%, #ff6f45 100%);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        font-weight:bolder;
        color: white;           
    }
    .btn:hover{
        transition-duration: 0.5s;
        transform: scale(1.09);
    }
    #top1 .photo{
        font-size: 68px;
        margin: 50px 21px;
        font-family: 'Oswald', sans-serif;
        color: #2d3d42;
        text-align: center;
    }
    #top1 .p1{
        font-size: 27px;
        margin: 50px 21px;
        
    }
    
     .box img{
         /* border: 2px solid black; */
        height: 334px;
        /* margin: -342px 537px; */
        display: block;
        border-radius: 45px;
        /* z-index: 0; */
         /* opacity: 0.9;  */
        cursor: pointer;
         /* box-sizing: border-box; */
         /* cursor: pointer; */
         /* overflow: visible; */
         position: absolute; 
         z-index: -1;
         bottom: 91px;
         left: 137px;
         /* box-sizing: border-box; */

    
    } 
    .box:hover{
        transition-duration: 2s;
        transform: scale(1.1);
        /* transform: translate(27px); */
    } 

    /* section 2 */
      /* #top2{
          /* border: 2px solid red; 
      } */



    #container-1{
        content: "";
    position: absolute;
    background: url(../bg/c4.jpg) no-repeat center center/cover;
    width: 100%;
    height: 122%;
    top: 741px;
     z-index: 1; 
    /* opacity: 0.4; */ 

    }
    .h1{
        /* align-items: center; */
        text-align: center;
        position: relative;
        top: 509px;
        /* justify-content: center; */
        z-index: 2;
        font-size: 48px;
        /* margin: 50px 21px; */
        font-family: 'Oswald', sans-serif;
        color: #2d3d42;
    }
    #container-2{
        border: 2px solid black;
        position: absolute;
        /* margin: 218px 0px; */
        padding: 197px;
        display: block;
    height: 64px;
     border: none;
    /* padding: 31px 27px; */
    /* margin: 73px 178px; */
    border-radius: 23px;
    background-color: #fffdfdb8;
    height: 14px;
    width: 660px;
    opacity:0.8; 
   /* z-index: 1; */
    overflow: visible;
    justify-content: center; 
    left: 137px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px 10px;

    
    }
    /* .box-1{
        border: 2px solid red;
        margin: 20x;
        position: relative;
        padding: 4px;
        height: 181px;
        width: 223px;
        bottom: 50px;
        right: 86px;
        text-align: center;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }  */
    .box-1{
    /* border: 2px solid red; */
    margin: 20x;
    position: absolute;
    padding: 4px;
    height: 181px;
    width: 333px;
    bottom: 50px;
    right: 703px;
    text-align: center;
    display: inline-block;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    line-height: 30px;
    }
    .box-2{
        /* border: 2px solid red; */
        margin: 20x;
        position: absolute;
        padding: 4px;
        height: 181px;
        width: 339px;
        bottom: 50px;
        right: 349px;
        text-align: center;
        display: inline-block;
        justify-content: center;
        align-items: center;
        /* margin: 0px 28px; */
        box-sizing: border-box;
        font-family: 'Playfair Display', serif;
        font-weight: bolder;
        line-height: 30px;
        
    }
    .box-3{
        /* border: 2px solid red; */
        margin: 20x;
        position: absolute;
        padding: 4px;
        height: 181px;
        width: 331px;
        bottom: 244px;
        right: 3px;
        text-align: center;
        display: inline-block;
        justify-content: center;
        align-items: center;
        /* left: 448px; */
        top: 177px;
        box-sizing: border-box;
        font-family: 'Playfair Display', serif;
        font-weight: bolder;
        line-height: 30px;
    }
    .png{
        height: 20px ;
    }
.png img{
    
    height: 133px;
    bottom: 160px;
    position: relative;
    /* right: 82px; */
    display: inline-block;
    left: 552px;
    opacity: 0.8;
}
.png2 img{
    height: 117px;
    bottom: 175px;
    position: relative;
    /* right: 82px; */
    display: inline-block;
    left: 266px;
    opacity: 0.8;
}
.png3 img{
    height: 117px;
    bottom: 234px;
    position: absolute;
    /* right: 78px; */
    display: inline-block;
    left: 109px;
    filter:brightness(50%);
}
.h2{
    font-family: 'Oswald', sans-serif;
}
@media only screen and (max-width:1440px){
    #background{
        width: 100%;
    }

    #container-1{
        width: 100%;
    }
  
}

    /* .h1{
        left: 224px;
    } */


  
  @media  only screen and (max-width:1399px) and (min-width:1024px) {
     #container-1{
        width: 136%;
    } 
    #background{
        width: 136%;
    }  
     .box img{
        height: 347px;
    top: 15rem;
    position: absolute;
    display: inline-block;
    left: 783px;
        } 
        .container{
            position: absolute;
            width: 52%;
            height: 71%;
        } 
        #container-2{
            top: 220px;
            left: 330px;
        }
        .h1{
            top: 45rem;
    left: 11rem;

    }
    
 } 

  @media  only screen and (max-width:1023px) and (min-width:786px) {
     #container-1{
        width: 177%;
        height: 151%;
    } 
    #container-2{
        width: 465px;
        height: 232px;
        left: 455px;
        /* right: 42px; */
        bottom: 40px
    } 
    #background{
        width: 177%;
    } 
    .png img{
        left: 351px;
    }
    .box-2{
        bottom: 268px;
        left: 58px;
    }
    .box-3{
        right: 56px;
    }
    .png2 img{
        right: 22px;
        left: 0px;
    }
    .png3 img{
        left: 364px;
        bottom: 135px;
    }
    .box-1{
        right: 266px;
        bottom: 2px;
        height: 174px;

    }
    .box img{
        height: 347px;
    top: 15rem;
    position: absolute;
    display: inline-block;
    left: 783px;
        } 
        .container{
            position: absolute;
            width: 56%;
            height: 71%;
        } 

        .h1{
            top: 43rem;
            left: 24rem;
    }
 } 
  @media  only screen and (max-width:785px) and (min-width:560px) {
     #container-1{
        width: 302%;
        height: 168%;
        top: 105rem;
    } 
    #container-2{
        width: 61rem;
        height: 419px;
        left: 324px;
        bottom: 14px;
    } 
    #background{
        width: 302%;
        height: 299%
    } 
    .png img{
            /* left: 351px; */
    /* right: 20px; */
    height: 13.2rem;
    bottom: 13.2rem
    }
    .box-2{
        bottom: 258px;
        left: 75px;
        height: 43%;
        width: 42%;
        font-size: 31px;
        line-height: 2.5rem;
    }
    .box-3{
        right: 90px;
        box-sizing: border-box;
        height: 43%;
        font-size: 32px;
        width: 43%;
        line-height: 42px;
    }
    .png2 img{
        right: 23px;
    left: 104px;
    height: 169px;
    bottom: 13.2rem;
    }
    .png3 img{
        left: 571px;
    bottom: 135px;
    }
    .box-1{
        right: 220px;
        bottom: 2px;
        height: 185px;
        width: 71%;
        font-size: 26px;
        /* text-align: center; */
        line-height: 35px

    }
    .h1{
        left: 733px;
    top: 60rem;
    font-size: 4.7rem;
    }
    .box img{
        height: 585px;
        top: 55rem;
         position: relative;
         /* display: inline-block;  */
         left: 520px;
    } 
     .container{
        position: absolute;
        width: 200%;
        height: 130%;
        left: 96px;
    } 
    .box:hover{
        transition-duration: 1s;
        transform: scale(1.05);
         /* transform: translate(27px);  */
    } 
    #top1 .p1{
        font-size: 4rem;
    text-align: center;
    line-height: 6.5rem;
    box-sizing: border-box
    }
    #top1 .btn{
        font-size: 2.5rem;
        left: 40rem;
        position: absolute;
        height: 115px

    }
    #navbar ul {
        display: flex;
    position: fixed;
    left: 37rem;
    top: 21px;
   
    width: 26%;
    
    height: 4%;
    font-weight: bold;
    box-sizing: border-box;
    }
    #navbar ul li a {
        font-family: 'Playfair Display', serif;
        font-size: 48px;
    }
}
     #navbar h1{
        font-size:26px;
        font-family: 'Playfair Display', serif;
        
    } 
    @media  only screen and (max-width:559px) and (min-width:320px){
        #background {
            width: 358%;
            height: 264%;
        }

        #container-1 {
            width: 358%;
            height: 295%;
            top: 93rem;
        }

  #container-2{
    width: 24rem;
    height: 970px;
    left: 16rem;
    bottom: 26px
    }
    .box-1{
        font-size: 33px;
        right: 100px;
        width: 68%;
        bottom: 123px;

    }
    .box-2{
        right: 74px;
        top: 650px;
        font-size: 35px;
        width: 71%;
        
    }
    .box-3{
        right: 70px;
        bottom: 27px;
        top: 187px;
        font-size: 35px;
        /* text-align: center; */
        line-height: 37px;
        width: 20;
        width: 74%;

    }
    .png img {
        left: 40px;
    }
    .png2 img {
        left: 89px;
        top: 300px
    }
    .png3 img {
        bottom: 302px;
        left: 252px;
    }
    .container {
        position: absolute;
        width: 200%;
        height: 134%;
        left: 220px;
        top: 35rem;
    }
    #top1 .p1 {
        text-align: center;
        font-size: 57px;
    }
    #top1 .btn {
        left: 11rem;
    /* right: 29px; */
    position: absolute;
    /* height: 9%; */
    font-size: 45px;
    }
    .h1{
        left: 382px;
        top: 83rem;
        font-size: 85px;
    }
    #navbar ul li a {
        font-family: 'Playfair Display', serif;
        font-size: 44px;
        font-weight: bold;
    }

    }
  